/* App.css */
.App {
  font-family: Georgia, serif;
  font-size: 18px;
  text-align: center;
  color: black; /* Ensure text is visible on dark background */
  position: relative; /* Add this to use absolute positioning for the button */
}

.App-header {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: a semi-transparent background for the header */
  position: absolute; /* Positioning the header at the top */
  top: 0;
  left: 0; /* Ensure header is aligned to the left */
}

.site-logo {
  width: 70px; /* Adjust width as needed */
  height: auto;
  position: absolute;
  left: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 70px; /* Adjust to accommodate logo width */
}

.search-box input {
  font-family: Georgia, serif;
  font-size: 15px;
  margin-left: 10px;
  padding: 2px 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  font-family: Georgia, serif;
  font-size: 15px;
  text-align: center;
  padding: 2px 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #f0f0f0;
}

.add-ingredient-button {
  position: absolute;
  top: 37%; /* Adjust to move the button lower */
  right: 13%; /* Adjust to move the button more to the left */
  font-size: 24px;
  padding: 10px;
  border: none;
  background-color: #8e8e8e; /* Adjust color as needed */
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.ingredient-panel {
  position: absolute;
  top: 20%; /* Adjust this value to position the panel lower */
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-section, .edit-section, .inventory-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-section select, .edit-section ul, .inventory-list ul {
  margin-bottom: 10px;
}

.inventory-list ul {
  list-style: none;
  padding: 0;
}

.inventory-list li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.search-results {
  margin-top: 20px;
}

.search-results div {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.meal-details {
  margin-top: 20px;
}

.meal-details img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
