/* Base styles */
.App {
    font-family: Georgia, serif;
    font-size: 18px;
    text-align: center;
    color: black; /* Ensure text is visible on dark background */
    position: relative; /* Add this to use absolute positioning for the button */
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
