/* App.css */
.App {
  font-family: Georgia, serif;
  font-size: 18px;
  text-align: center;
  color: black; /* Ensure text is visible on dark background */
  position: relative; /* Add this to use absolute positioning for the button */
}

.App-header {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: a semi-transparent background for the header */
  position: absolute; /* Positioning the header at the top */
}

.site-logo {
  width: 50px; /* Adjust width as needed */
  height: auto;
  margin-right: 10px; /* Space between the logo and search label */
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search-box input {
  font-family: Georgia, serif;
  font-size: 15px;
  margin-left: 10px;
  padding: 2px 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  font-family: Georgia, serif;
  font-size: 15px;
  text-align: center;
  padding: 2px 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #f0f0f0;
}

.add-ingredient-button {
  position: absolute;
  top: 37%; /* Adjust to move the button lower */
  right: 13%; /* Adjust to move the button more to the left */
  font-size: 24px;
  padding: 10px;
  border: none;
  background-color: #8e8e8e; /* Tomato color */
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.ingredient-form {
  position: absolute;
  top: 47%; /* Adjust these values as needed */
  right: 8%; /* Adjust these values as needed */
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.ingredient-form input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ingredient-form button {
  padding: 5px;
  border: none;
  background-color: #ff6347; /* Tomato color */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
